{% extends 'base.html' %}

{% block content %}

{% if error %}
<br />
{{ error }}
<br />
{% endif %}

<h1>Create</h1>

<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
	{% csrf_token %}
	<br /><br />
	<h3>Title:</h3>
	<input type="text" name="title" />
	<br /><br />
	<h3>Body:</h3>
	<input type="textbox" name="body" />
	<br /><br />
	<h3>Url:</h3>
	<input type="text" name="url" />
	<br /><br />
	<h3>Icon:</h3>
	<input type="file" name="icon" />
	<br /><br />
	<h3>Image:</h3>
	<input type="file" name="image" />
	<br /><br /><br />
	<input class="btn btn-primary" type="submit" value="Add Product" />
</form>

{% endblock %}